@import 'tailwindcss';

@theme {
  --default-font-family: 'Montserrat', sans-serif;
}

[v-cloak] {
  display: none;
}

.big-text {
  font-size: 4rem;
}

.nav-underline .nav-link.active {
  border-bottom-color: var(--bs-warning);
}
