:root {
  --bs-body-font-family: 'Montserrat', sans-serif;
}

[v-cloak] {
  display: none;
}

.big-text {
  font-size: 4rem;
}

.bi {
  font-size: 0.9em;
}

.nav-underline .nav-link.active {
  border-bottom-color: var(--bs-warning);
}

#logo-emamut {
  width: 5rem;
}
